package-lock.json
node_modules/
*.js
!webpack.config.js
public/assets
index.js.LICENSE.txt
venv/
public/api/base.php
.directory
.ipynb_checkpoints/
__pycache__/
public/vendor
# Background video
*.mp4
