[submodule "submodules/trainmap-db"]
	path = submodules/db
	url = ../trainmap-db.git
[submodule "submodules/trainmap-consumption-api"]
	path = submodules/consumption
	url = ../trainmap-consumption-api.git
