:root {
    --navbar-height: 56px;
}

body {
    padding-top: var(--navbar-height);
}

#map {
    height: calc(100vh - var(--navbar-height));
}

#offcanvasElevation {
    width: 100%;
    height: 25%;
}

#enetLogo {
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.alert {
    margin-bottom: 0 !important;
}